<%= form_with(model: predictor, local: true) do |form| %>
  <% if predictor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(predictor.errors.count, "error") %> prohibited this predictor from being saved:</h2>

      <ul>
      <% predictor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :training_set %>
    <%= form.text_area :training_set %>
  </div>

  <div class="field">
    <%= form.label :train_net %>
    <%= form.text_area :train_net %>
  </div>

  <div class="field">
    <%= form.label :test_set %>
    <%= form.text_area :test_set %>
  </div>

  <div class="field">
    <%= form.label :predict_net %>
    <%= form.text_area :predict_net %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
