<p id="notice"><%= notice %></p>

<h1>Predictors</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Trained at</th>
      <th>Tested at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @predictors.each do |predictor| %>
      <tr>
        <td>#<%= predictor.id %></td>
        <td><%= predictor.trained_at %></td>
        <td><%= predictor.tested_at %></td>
        <td><%= link_to 'Train', predictor_start_train_path(predictor), method: :post %></td>
        <td><%= link_to 'Destroy', predictor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Predictor', predictors_path, method: :post %>
