<p id="notice"><%= notice %></p>

<p>
  <strong>Training set:</strong>
  <%= @predictor.training_set %>
</p>

<p>
  <strong>Train net:</strong>
  <%= @predictor.train_net %>
</p>

<p>
  <strong>Test set:</strong>
  <%= @predictor.test_set %>
</p>

<p>
  <strong>Predict net:</strong>
  <%= @predictor.predict_net %>
</p>

<%= link_to 'Edit', edit_predictor_path(@predictor) %> |
<%= link_to 'Back', predictors_path %>
